.container {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.content {
  display: flex;
  align-items: center;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1128px;
}

.logo {
  margin-right: 0.5rem;
  font-size: 0;
}
