.nav {
  margin-left: auto;
  display: block;
}

.nav__wrap {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list a {
  background: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  justify-content: center;
  line-height: 1.5;
  min-width: 80px;
  position: relative;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 100%;
  }
}
