.container {
  padding: 0;
}

.nav {
  max-width: 1120px;
  margin: auto;
  padding: 0.8rem 0 1rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.nav > a {
  width: 135px;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 0 0.3rem;
  }
}
