.container {
  padding: 0;
}

.nav {
  margin: auto;
  max-width: 1120px;
  padding: 0.8rem 0 1rem;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.nav > a {
  width: 135px;
}

.joinUs {
  font-size: 1rem;
  padding: 0.7rem 0.9rem;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 0.8rem;
  border-radius: 4px;
}

.joinUs:hover {
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.9);
}

.signIn {
  border: 1px solid #0a66c2;
  box-shadow: inset 0 0 0 1px #0a66c2;
  border-radius: 2rem;
  padding: 0.8rem 1.5rem;
  color: #0a66c2;
  font-weight: bold;
  transition: background 0.2s ease-in-out;
}

.signIn:hover {
  background: #d7e7f7;
}

.banner {
  display: flex;
  max-width: 1120px;
  margin: auto;
  justify-content: space-between;
  margin-top: 2rem;
}

.banner_text {
  height: 100%;
}

.banner_text > h1 {
  font-size: 3rem;
  width: 102%;
  font-weight: 300;
  color: #0a66c2;
  margin: 2rem 0 3rem;
}

.banner > section {
  flex: 50%;
}

.googleBtn {
  width: 60%;
  background: #fff;
  border: 1px solid #333;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 0 0.3rem;
  }

  .banner {
    flex-direction: column;
    text-align: center;
    padding: 0 0.3rem;
  }

  .banner_text > h1 {
    font-size: 2rem;
  }
  .googleBtn {
    margin: auto;
    width: 80%;
    margin-bottom: 2rem;
  }
}
