.article {
  text-align: center;
  overflow: hidden;
  margin-bottom: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  position: relative;
  border: none;
  box-shadow: rgb(0 0 0 / 15%) 0px 0px 0px 1px, rgb(0 0 0 / 20%) 0px 0px 0px;
  padding: 0;
  margin: 0 0 8px;
  overflow: visible;
}

.shareActor {
  padding-right: 40px;
  flex-wrap: nowrap;
  padding: 0.8rem 1rem 0;
  margin-bottom: 8px;
  align-items: center;
  display: flex;
}

.shareActor a {
  margin-right: 12px;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  text-decoration: none;
}

.shareActor a img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.shareActor a > div {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  margin-left: 8px;
  overflow: hidden;
}

.shareActor a > div span {
  text-align: left;
}

.shareActor a > div span:first-child {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.shareActor a > div span:nth-child(n + 1) {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.shareActor button {
  position: absolute;
  right: 12px;
  top: 0;
  background: transparent;
  border: none;
  outline: none;
}

.description {
  padding: 0 16px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.9);
  font-size: 15px;
  text-align: left;
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word;
  padding: 15px 20px;
}

.sharedImg {
  margin-top: 8px;
  width: 100%;
  height: 20vh;
  display: block;
  position: relative;
  background-color: #f9fafb;
}

.sharedImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
